<%if(theme.author){%>
    <div class="widget author">
        <h3 class="title"><%= __('author') %></h3>
        <div class="author clearfix">
			<div class="avatar">
				<img src="/img/author.jpg" />
        	</div>
        	<div class="info">
				<H3><%- theme.author.name %></H3>
				<p><%- theme.author.position %></p>
				<p>
					<i class="fa fa-file-text" aria-hidden="true">&nbsp;&nbsp;<%- site.posts.length %></i>
					<i class="fa fa-bars" aria-hidden="true">&nbsp;&nbsp;0<%- site.categories.length %></i>
					<i class="fa fa-tags" aria-hidden="true">&nbsp;<%- site.tags.length %></i>
				</p>
        	</div>
        </div>
        <div>
            <p><%- theme.author.slogan %></p>
        </div>
    </div>
<%}%>